.idea/*
/server/node_modules
/docs/~$*
/server/Config*
/client/Config*
run_0001.log
/server/ssl/*
/docs/create virtual machine
xoserver_last.out
run.log
/server/run*.log
/js/VKClientCode.js
/js/VKClientCodeSource.js
/sql_dumps/*
/posts/*
/hostingData/*